<div class="container">
  <h3>Parity Server v0.0.1</h3>
  <hr>
  {{#if results}}
    <h4>Jobs Processed:</h4>
    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th class="col-md-2">time</th>
        <th>input</th>
        <th>output</th>
      </tr>
      {{#each results}}
        <tr>
          <td>{{ time }}</td>
          <td>
            <div style="max-height: 200px; max-width: 800px; overflow:auto;">
              {{{ input_json }}}
            </div>
          </td>
          <td>
            <div style="max-height: 200px; overflow:auto;">
              {{{ output_json }}}</td>
            </div>
        </tr>
      {{/each}}
    </table>
  {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io({{host}}{{port}});
  socket.on('new_result', function(date){
    window.location.reload();
  });
</script>
